.addresses {
  margin-top: 40px;
  margin-bottom: 60px;
  padding-left: 17px;
  padding-right: 15px;
  background: var(--white);
}

.addresses__list {
  @include list-style;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    max-width: 710px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1290px;
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-gap: 30px;
  }
}

.list-item {
  width: 100%;
  height: 310px;
  margin-bottom: 10px;
  padding-top: 33px;
  padding-inline: 12px;
  padding-bottom: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  font-family: $font-golos;
  background: var(--gray-ligth);

  @media (min-width: $tablet-width) {
    max-width: 350px;
    margin: 0;
    padding-inline: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: 300px;
  }

  &:last-child {
    max-width: 710px;
    height: 395px;

    @media (min-width: $tablet-width) {
      height: 310px;
      grid-column: 1 / -1;
    }

    @media (min-width: $desktop-width) {
      max-width: 630px;
      grid-column: 3 / -1;
    }
  }
}

.list-item__title {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 110%;
  font-family: $font-roadradio;
}

.item-phone {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item-phone__link {
  margin-top: 15px;
  @include link;
  font-size: 19px;
  line-height: 150%;
  font-family: $font-golos;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.item-block {
  font-size: 14px;
  line-height: 140%;
  color: var(--gray-dark);
}

.item-block__adress {
  font-size: 14px;
  line-height: 140%;
}

.item-block__link-button {
  @include link;
  color: var(--text-red);

  &:hover {
    color: var(--text-red-hover);
  }

  &:active {
    color: var(--text-red-active);
  }
}

.list-item__mode {
  font-size: 14px;
  line-height: 140%;
  color: var(--text-black);
}