.footer {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr repeat(10, 50px) 1fr;
  }
}

.footer-nav {
  padding-top: 41px;
  padding-left: 15px;
  padding-right: 10px;
  padding-bottom: 40px;
  background: var(--black);

  @media (min-width: $tablet-width) {
    grid-column: 1 / 7;
    padding-top: 43px;
    padding-right: 72px;
    padding-bottom: 46px;

    ul {
      float: right;
      box-sizing: border-box;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr repeat(5, 80px);
    grid-column-gap: 30px;
  }
}

.footer-catalog {
  max-width: 280px;
  @include list-style;

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
  }
}

.footer-catalog__item {
  color: var(--white);

  a {
    @include link;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    font-family: $font-inter;
  }

  &.active {
    color: var(--text-red);
  }

  &:hover {
    color: var(--white);
  }
}

.footer-nav__site {
  max-width: 280px;
  @include list-style;
  margin-top: 15px;
  margin-right: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
    grid-column: 2 / 6;
    justify-content: start;

    li {
      margin-right: 10px;
    }
  }
}

.footer-nav-site__item {
  color: var(--gray-dark);
  margin-right: 5px;

  a {
    @include link;
    font-size: 16px;
    line-height: 180%;
    font-family: $font-akzidenzGrotesk;
  }

  &:hover {
    color: var(--white);
  }
}

.footer__contacts {
  padding-top: 43px;
  padding-bottom: 0;
  padding-inline: 15px;
  background: var(--black-ligth);
  color: var(--white);
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    grid-column: 7 / -1;
    padding-left: 40px;
    padding-right: 100px;

    .footer-contacts__phone {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 55px;
    padding-inline: 0;
    padding-right: 10px;
    display: grid;
    grid-template-columns: repeat(5, 80px) 1fr;
    grid-column-gap: 30px;
    grid-template-rows: 43px 43px 54px 139px;
  }
}

.footer-contacts__phone {
  @include link;
  font-weight: 500;
  font-size: 23px;
  line-height: 150%;
  font-family: $font-golosmedium;

  @media (min-width: $desktop-width) {
    margin-left: -15px;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    font-size: 30px;
    line-height: 130%;

    &--second {
      grid-row: 2 / 3;
    }
  }

}

.footer-contacts__button {
  max-width: 190px;
  @include link;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-block: 14px;
  text-align: center;
  border-radius: 14px;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-roadradio;
  border: 2px solid var(--border);
  box-sizing: border-box;

  &:hover {
    background: var(--black);
  }

  &:active {
    background: var(--text-red-active);
  }

  @media (min-width: $desktop-width) {
    height: 52px;
    margin: 0;
    margin-left: 10px;
    padding-block: 19px;
    grid-column: 5 / -1;
    grid-row: 1 / 2;
  }
}

.footer-contacts__mail {
  @include link;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 19px;
  line-height: 110%;
  font-family: $font-akzidenzGroteskmd;
  color: var(--color-mail);

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin-left: -15px;
    margin-bottom: 0;
    grid-column: 2 / 4;
    font-size: 24px;
    line-height: 140%;
    align-self: end;
  }
}

.footer-contacts__adress {
  margin-top: 0;
  margin-bottom: 47px;
  font-size: 16px;
  line-height: 130%;
  font-family: $font-inter;

  @media (min-width: $tablet-width) {
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
    margin-block: 0;
    margin-left: -15px;
    grid-column: 2 / 6;
    align-self: end;
  }
}

.footer__copyright {
  margin: 0;
  padding-block: 19px;
  padding-left: 15px;
  border-top: 1px solid var(--white-5);
  font-size: 13px;
  line-height: 110%;
  font-family: $font-akzidenzGrotesk;
  color: var(--gray-dark);
  background: var(--black-ligth);

  p {
    margin: 0;

    @media (min-width: $tablet-width) {
      padding-right: 120px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-block: 23px;
    grid-column: 1 / 7;
    background: var(--black);

    p {
      float: right;

      @media (min-width: $desktop-width) {
        padding-right: 390px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-block: 26px;
    padding-bottom: 27px;
  }
}

.footer-bottom {

  @media (min-width: $tablet-width) {
    grid-column: 7 / -1;
    background: var(--black-ligth);
    border-top: 1px solid var(--white-5);
  }
}