.header {
  color: var(--white);
}

.header-top {
  display: grid;
  grid-template-columns: 55px 1fr 47px 58px;
}

.header-top__button {
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  background: url("../img/menu.svg") 50% 50% no-repeat;
  box-sizing: border-box;
}

.header-top__nav {
  @include list-style;
  display: none;
}

.header-nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  font-family: $font-golos;
}

.header-top__logo {
  justify-self: end;
}

.header-top__compare {
  justify-self: end;
}

.search {
  padding-block: 16px;
}
.search__icon-lens {
  width: 16px;
  height: 18px;
  background: url("../img/search.svg") 50% 50% no-repeat;
}

.search__text {
  width: 0;
}