.header {
  color: var(--white);
}

.header-top {
  padding-top: 18px;
  padding-bottom: 17px;
  display: grid;
  grid-template-columns: 55px 47px 1fr 47px 58px;
}

.header-top__button {
  width: 23px;
  height: 8px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  background: url("../img/menu.svg") 50% 50% no-repeat;
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
}

.header-top__nav {
  @include list-style;

  li {
    display: none;
  }
}

.header-nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  font-family: $font-golos;
}

.header-top__logo {
  width: 90px;
  height: 30px;
  justify-self: center;
}

.header-top__compare {
  justify-self: end;
  align-self: center;
}

.search {
  position: relative;
  width: 16px;
  height: 18px;
  justify-self: center;
  align-self: center;
}

.search__text {
  position: absolute;
  top: -3px;
  right: 0;
  background: var(--white-80);
  visibility: hidden;

  &:hover {
    visibility: visible;
  }
}

.search__icon-lens {
  display: block;
  width: 16px;
  height: 18px;
  background: url("../img/search.svg") 50% 50% no-repeat;

  &:hover + .search__text {
    visibility: visible;
  }
}

.nav-site {
  @include list-style;
  background: var(--gray-ligth);
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  column-gap: 30px;
}

.nav-site__item {
  position: relative;
  margin-block: 16px;
  color: var(--text-black);

  a {
    @include link;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: $font-golos;
  }

  &.active {
    color: var(--gray);
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    top: 7px;
    right: -16px;
    background: var(--black);
  }

  &:last-child::after {
    display: none;
  }
}


.nav-main {
  grid-column: 2 / 3;
}

.nav-contacts {
  grid-column: 3 / 4;
}