.header {
  color: var(--white);
}

.header-top {
  padding-top: 18px;
  padding-bottom: 17px;
  display: grid;
  grid-template-columns: 1fr repeat(4, 40px) 1fr;
  grid-gap: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-block: 14px;
    grid-template-columns: 1fr repeat(10, 50px) 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-block: 20px;
    grid-template-columns: 1fr repeat(10, 80px) 1fr;
    grid-gap: 30px;
  }
}

.header-top__button {
  width: 23px;
  height: 8px;
  display: block;
  border: none;
  padding-inline: 16px;
  background: url("../img/menu.svg") 50% 50% no-repeat;
  justify-self: center;
  align-self: center;
  grid-column: 1 / 2;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-inline: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 12px;
    padding: 0;
    justify-self: end;
  }
}

.header-top__nav {
  @include list-style;
  grid-column: 2 / 3;
  align-self: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 6;
  }
}

.header-nav__link {
  display: none;

  a {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    font-family: $font-golos;
    color: var(--text-black);

    @media (min-width: $desktop-width) {
      font-size: 15px;
      line-height: 18px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 6;
    display: block;
  }
}

.header-servece {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header-top__logo {
  width: 90px;
  height: 30px;
  grid-column: 3 / 5;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 6 / 8;
  }

  @media (min-width: $desktop-width) {
    width: 132px;
    height: 44px;
  }

  img {
    width: 90px;
    height: 30px;

    @media (min-width: $desktop-width) {
      width: 132px;
      height: 44px;
    }
  }
}

.header-top__compare {
  width: 9px;
  height: 16px;
  display: block;
  border: none;
  background: url("../img/compare.svg") 50% 50% no-repeat;
  grid-column: 5 / 6;
  justify-self: end;
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-right: -25px;
    grid-column: 8 / 9;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    width: 12px;
    margin-right: 0;
    margin-left: 25px;
    justify-self: start;
  }
}

.search {
  position: relative;
  width: 16px;
  height: 18px;
  grid-column: 6 / -1;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 9 / 10;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 19px;
    justify-self: start;
    margin-left: -48px;
  }
}

.search__text {
  position: absolute;
  top: -3px;
  right: 0;
  background: var(--white-80);
  visibility: hidden;

  &:hover {
    visibility: visible;
  }
}

.search__icon-lens {
  display: block;
  width: 16px;
  height: 18px;
  background: url("../img/search.svg") 50% 50% no-repeat;

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 19px;
  }

  &:hover+.search__text {
    visibility: visible;
  }
}

.header-top__contact {
  width: 190px;
  justify-self: center;
  align-self: center;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-inline: 28px;
    grid-column: 10 / -1;

    a {
      text-decoration: none;
    }

    .header-contact__phone {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      font-family: $font-golosmedium;
      color: var(--text-black);
    }

    .header-contact__mail {
      font-size: 13px;
      line-height: 120%;
      font-family: $font-graphik;
      color: var(--gray-dark);
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 10 / 11;
    margin-left: -80px;
  }
}

.nav-site {
  @include list-style;
  background: var(--gray-ligth);
  display: grid;
  grid-template-columns: 1fr min-content min-content 1fr;
  column-gap: 30px;
}

.nav-site__item {
  position: relative;
  margin-block: 16px;
  color: var(--text-black);

  a {
    @include link;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: $font-golos;
  }

  &.active {
    color: var(--gray);
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    top: 7px;
    right: -16px;
    background: var(--black);
  }

  &:last-child::after {
    display: none;
  }
}


.nav-main {
  grid-column: 2 / 3;
}

.nav-contacts {
  grid-column: 3 / 4;
}

.header-top__request {
  @include link;
  width: 190px;
  height: 52px;
  background: #BF2738;
  border-radius: 14px;
  font-size: 14px;
  line-height: 14px;
  font-family: $font-roadradio;
  text-align: center;
  padding-block: 19px;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 11 / -1;
  }

  &:hover {
    background: var(--text-red-hover);
  }

  &:active {
    background: var(--text-red-active);
  }
}