.main-contacts__title {
  margin: 0;
  padding-block: 20px;
  text-align: center;
  background: var(--gray-ligth);
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  font-family: $font-roadradio;

  @media (min-width: $tablet-width) {
    padding-block: 15px;
    font-size: 32px;
    line-height: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-bottom: 30px;
    font-size: 46px;
    line-height: 100%;
  }
}

.main-contacts__requisites {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 18px;
}

.requisites__phone {
  @include link;
  font-weight: normal;
  font-size: 28px;
  line-height: 120%;
  font-family: $font-roadradio;
  color: var(--text-black);
}

.requisites__mail {
  @include link;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  font-family: $font-golos;
  color: var(--text-red);
}

.requisites__text {
  margin-top: 19px;
  font-weight: normal;
  font-family: $font-golos;
  color: var(--text-gray);

  &--name {
    color: var(--text-black);
  }
}