.page {
  height: 100%;
}

.page-body {
  background-color: var(--white);
  min-height: 100%;
  font-family: $font-roadradio;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}