:root {
  --white: #ffffff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-5: rgba(255, 255, 255, 0.05);
  --gray-ligth: #F5F5F5;
  --gray: #C9C9CF;
  --gray-dark: #797986;
  --black: #222225;
  --black-ligth: #2A2A2E;
  --text-gray: #808080;
  --text-black: #262633;
  --text-red: #BF2738;
  --color-mail: #F23147;
  --text-red-hover: #db283d;
  --text-red-active: #8f1926;
  --color-black: #212121;
  --border: #404040;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

$tablet-width: 768px;
$desktop-width: 1290px;

$font-graphik: "Graphik",
"Arial",
sans-serif;
$font-golos: "Golos",
"Arial",
sans-serif;
$font-golosmedium: "Golosmedium",
"Arial",
sans-serif;
$font-akzidenzGrotesk: "AkzidenzGrotesk",
"Arial",
sans-serif;
$font-akzidenzGroteskmd: "AkzidenzGroteskMd",
"Arial",
sans-serif;
$font-roadradio: "RoadRadio",
"Arial",
sans-serif;
$font-inter: "Inter",
"Arial",
sans-serif;